.waiting-frog {
    position: absolute;
    width: 324px;
    top: calc(10vw - 65px);
    left: 65%;
    z-index: 2;
}

.kva-main {
    display: grid;
    grid-template-areas: "account history";
}

.kva-left {
    grid-area: account;
    display: grid;
    grid-template-areas: "img"
                         "username";
    padding: 10px;
}


.kva-right {
    grid-area: history;
    display: block;
    padding: 20px;
    background-color: #FEDBD6;
}

.kva-user-img {
    grid-area: img;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.kva-user-block {
    grid-area: username;
    margin-left: auto;
    margin-right: auto;

    color: #000;

    display: block;
    align-content: center;
    word-wrap: break-word;
}

.kva-user {
    padding: 10px;
    font-size: 1.5em;
    background-color: #FFBAB5;
}

.kva-menu {
    display: block;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    background-color: #FFBAB5;
}

.kva-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.kva-list a {
    color: #000000;
    text-decoration: none;
    margin-top: 4px;
    margin-left: 2px;
}
