/* Фон шапки */
nav {
    background-color: #659664;
}

/* Основной фон сзади */
body {
    background-color: #2A5329;
}

article {
    background-color: #E9CD85;
    display: inline;
}

.history {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin: 45px;
    background-color: #C4C4C4
}

h6 {
    display: inline;
    background-color: #C4C4C4;
    margin: 20px;
}

main {
    min-height: calc(85vh - 80px);
}

hr {
    width: 90%;
    background: #2A5329;
    color: #E3FFDA;
}
