.sitting-frog {
    position: absolute;
    height: 200px;
    top: -130px;
    left: 50%;
}

main {
    position: absolute;
    top: 210px;
    left: 5%;
    width: 90%;
    bottom: 90px;
    background-color: #FEDBD6;
}

form {
    display: block;
    horiz-align: center;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: 10px;
    margin-right: 10%;
}

.kva-left {
    position: absolute;
    float: left;
    display: block;
    height: 30%;
    top: 20%;
    left: 15%;
}

button {
    border-radius: 10px;
    border: none;

    margin-top: 15px;

    font-size: 30px;
    background-color: #000000;
}

.kva-right {
    position: absolute;
    top: 20%;
    left: 60%;
    height: 30%;
    float: right;
    display: block;
    text-align: center;

    width: 25%;
    background-color: #B5CB5C;
}

.kva-right div {
    margin-left: 10%;
    margin-right: 10%;
}

.kva-counter {
    width: 25%;
}

.about_tools label{
    color: #000;
    font-size: 30px;
}

.cabinet-chosen {
    text-decoration: underline;
}