main {
    background-color: #FEDBD6;
}

form {
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.kva-left {
    flex: 1;
    display: block;
}

.kva-right {
    flex: 2;
    display: block;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: #B5CB5C;
}

.kva-booking {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#kva-book {
    order: 0;
}
#kva-date {
    order: 1;
}
#kva-time {
    order: 2;
}
#cancel-book {
    order: 3;
}
#exit {
    order: 4;
}

.kva-booking a {
    display: block;
    color: #000;
}

button {
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
    border: none;
}
label {
    color: #000;
    font-size: 1.5em;
}

.cabinet-chosen {
    text-decoration: underline;
}
.block-field::placeholder {
    color: #000;
}

.sitting-frog {
    position: absolute;
    top: calc(10vw + 30px);
    height: 108px;
}