main {
    background-color: #B5CB5C;
}
.kva-menu {
    display: flex;
    flex-direction: row;
}

#picture {
    order: 0;
}
#navigation {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;

}

.floors {
    order: 0;
    padding: 20px;
    display: block;
}
.btn {
    margin-top: 10px;
    color: #000;
}

.kva-school {
    order: 1;
    margin: 20px;
    padding: 10px;
    display: block;
    background-color: #FEDBD6;
}