body {
    color: #E3FFDA;
    background-color: #2A5329;
    margin-top: 5%;
}
.submit {
    display: none;
}
::placeholder {
    color: #4D414D;
}

.wonder_back {
    background-color: #659664;
    border-radius: 20px;
}
input {
    font-family: "Quicksand", serif;
    color: #4D414D;
}

@font-face {
    font-family: "Quicksand";
    src: url("/front-end/fonts/quicksand/Quicksand-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
